<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pierwszy projekt springowy</title>
    <meta charset="UTF-8" />
</head>
<body>
<p>
    <!--

    <span th:text="${number_a}">number_a</span> <span th:text="${znak}">?</span> <span th:text="${number_b}">number_b</span> = <span th:text="${result}"> result </span>

    -->
    <span th:text="${calculator.getNumber_a()}">number_a</span> <span th:text="${calculator.getList()}">+</span> <span th:text="${calculator.getNumber_b()}">number_b</span> = <span th:text="${result}"> result </span>


</p>
</body>
</html>